<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rhino.esb"
             type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus" />
  </configSections>
  
  <rhino.esb>
    <bus
      threadCount="1"
      numberOfRetries="5"
      endpoint="msmq://localhost/TicTakToe.Backend" />
    <messages>
      <add name="HibernatingRhinos.Orders.Backend.Messages"
           endpoint="msmq://localhost/TicTakToe.Backend" />
    </messages>
  </rhino.esb>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>